<div class="container p-4">
	<div class="row">
		{{#each links}}
			<div class="col-md-3">
				<div class="card text-center">
					<div class="card-body">
						<a href="{{url}}" target="_blank">
							<h3 class="card-title">{{title}}</h3>
						</a>
						<p class="m-2">{{descripcion}}</p>
						<p>{{timeago recordate}}</p>
						<a href="/links/edit/{{id}}" class="btn btn-info active">EDIT</a>
						<a href="/links/delete/{{id}}" class="btn btn-danger active">DELETE LINK</a>
					</div>
				</div>
			</div>
		{{else}}
			<div class="col-md-4 mx-auto">
				<div class="card card-body text-center">
					<img src="http://www.ericrosario.com/images/nothing_here.png" alt="No Links" width="200px">
					<br><br>
					<a href="/links/add" class="btn btn-danger active btn-block">ADD LINK</a>
				</div>
			</div>
		{{/each}}
	</div>
</div>